src/main/resources/wsdl/service.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="us.world_corp.my_soap_forum.xsd" elementFormDefault="qualified">
	<xs:element name="message">
		<xs:complexType>
			<xs:all>
				<xs:element name="value" type="xs:string"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="resultcode">
		<xs:complexType>
			<xs:all>
				<xs:element name="value" type="xs:int"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>
